@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9500ff;
  --secondary-color: #ffffff;
  --background-dark: #040b1c;
  --background-light: #0c1526;
  --text-color: #ffffff;
  --ice-gradient: linear-gradient(120deg, rgba(111, 0, 255, 0.3), rgba(255, 255, 255, 0.1));
  --frost-shadow: 0 0 20px rgba(111, 0, 255, 0.3);
  --glass-effect: rgba(12, 21, 38, 0.7);
}

/* Vos autres styles globaux */